table
{
	border: 1 px solid black;
	
}
td:hover
{
	background-color: yellow;
	color: black;	
}
tr, th 
{
	background-color: Gray;
	color: HoneyDew;	
}
tr, td 
{
	background-color: LightYellow;
	color: blue;	
}
